Repository dusthijsvdh/hergetto, pull requests merged in 2021-11, with the labels that each got.

#44 Added support for events
  .gitignore
  lib/hergetto/helpers/rooms/room_communication_helper.ex
  lib/hergetto/services/rooms/room_manager.ex
  lib/hergetto/structs/room_event.ex
  test/hergetto/room_communication_helper_test.exs
  test/hergetto/room_manager_test.exs
Labels: test

#45 Updated node-sass package
  assets/package-lock.json
  assets/package.json
Labels: frontend

#46 Refactored rooms to use a dynamic supervisor
  lib/hergetto/application.ex
  lib/hergetto/helpers/rooms/room_communication_helper.ex
  lib/hergetto/rooms/room_service.ex
  lib/hergetto/rooms/room_supervisor.ex
  lib/hergetto/rooms/rooms.ex
  lib/hergetto/services/rooms/room_manager.ex
  test/hergetto/room_communication_helper_test.exs
  test/hergetto/room_manager_test.exs
  test/hergetto/rooms_test.exs
Labels: enhancement, test

#48 Feature/404 page
  lib/hergetto_web/templates/error/custom_404.html.eex
  lib/hergetto_web/views/error_view.ex
  test/hergetto_web/views/error_view_test.exs
Labels: enhancement, test, frontend

#49 Feature/video service
  lib/hergetto/application.ex
  lib/hergetto/helpers/service_start_helper.ex
  lib/hergetto/rooms/room_service.ex
  lib/hergetto/rooms/rooms.ex
  lib/hergetto/structs/session_room.ex
  lib/hergetto/structs/video.ex
  lib/hergetto/videos/video_service.ex
  lib/hergetto/videos/video_supervisor.ex
  lib/hergetto/videos/videos.ex
  test/hergetto/rooms_test.exs
  test/hergetto/videos_test.exs
Labels: enhancement, test

#50 Feature/chat service
  lib/hergetto/application.ex
  lib/hergetto/chats/chat_service.ex
  lib/hergetto/chats/chat_supervisor.ex
  lib/hergetto/chats/chats.ex
  lib/hergetto/helpers/service_start_helper.ex
  lib/hergetto/rooms/room_service.ex
  lib/hergetto/rooms/rooms.ex
  lib/hergetto/structs/message.ex
  lib/hergetto/videos/video_service.ex
  lib/hergetto/videos/videos.ex
  test/hergetto/chats_test.exs
  test/hergetto/videos_test.exs
Labels: test

#53 Feature/bootstrap styling
  assets/css/setup/bootstrap/after-setup.scss
  assets/css/setup/bootstrap/bootstrap-setup.scss
  assets/css/setup/bootstrap/borders.scss
  assets/css/setup/bootstrap/button.scss
  assets/css/setup/bootstrap/buttons.scss
  assets/css/setup/bootstrap/forms.scss
  assets/css/setup/bootstrap/shadows.scss
  assets/css/setup/bootstrap/text.scss
  assets/css/setup/bootstrap/theme.scss
  assets/css/setup/common.scss
  assets/package-lock.json
  assets/package.json
  config/dev.exs
  lib/hergetto_web/components/demo/hero.ex
  lib/hergetto_web/templates/error/404.html.heex
  lib/hergetto_web/templates/layout/root.html.heex
Labels: frontend, styling
