Repository dusthijsvdh/hergetto, pull requests merged in 2021-05, with the labels that each got.

#35 Setup
  assets/static/images/icons/icon-192x192.png
  assets/static/images/icons/icon-256x256.png
  assets/static/images/icons/icon-384x384.png
  assets/static/images/icons/icon-512x512.png
  assets/static/images/oembed.png
  assets/static/images/oembed_logo.png
  assets/static/site.webmanifest
  config/config.exs
  config/prod.exs
  lib/hergetto_web/endpoint.ex
  lib/hergetto_web/templates/layout/root.html.leex
  lib/hergetto_web/views/layout_view.ex
  test/hergetto_web/live/page_live_test.exs
  test/hergetto_web/views/layout_view_test.exs
Labels: documentation, enhancement, frontend, styling, test

#36 Joostde jager feature surface
  .formatter.exs
  config/dev.exs
  lib/hergetto/application.ex
  lib/hergetto/services/rooms/room_manager.ex
  lib/hergetto/services/rooms/room_service.ex
  lib/hergetto/structs/session_room.ex
  lib/hergetto_web.ex
  lib/hergetto_web/live/components/example.component.ex
  lib/hergetto_web/live/page_live.ex
  lib/hergetto_web/live/page_live.sface
  mix.exs
  mix.lock
  test/hergetto/room_manager_test.exs
Labels: test

#37 JoostdeJager feature communication
  lib/hergetto/helpers/rooms/room_communication_helper.ex
  lib/hergetto/services/rooms/room_manager.ex
  lib/hergetto/services/rooms/room_service.ex
  lib/hergetto/structs/room_event.ex
  lib/hergetto/structs/session_room.ex
  test/hergetto/room_communication_helper_test.exs
Labels: documentation, enhancement, test
